<h3><%= @post.title %></h3>

Body:
<ul>
<li>
<%= @post.body %>
</li>
</ul>
<%= form_for [@post, @comment] do |f| %>
  <%= render 'shared/errors', obj: @comment %>

<%= f.label :body %>
<%= f.text_area :body, rows: 5 %>
<br>
<%= f.submit "Create comment", class: 'btn btn-success' %>

<% end %>
<br/>
<h4>Comments:</h4>
<ul>
  <% @post.comments.reload.each do |comment|  %>
    <li>
    	<%= comment.body  %>
    	by:
    	<%= comment.user.username %>
    </li>
  <% end %>  


</ul>

